


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* Please for your own changes use this file.  */
/*//////////////////////////////////////////////////////////////////////////////////////////*/



.cust-aboutus-heading{
	margin-top: 7%;
	font-size: 22px;
	line-height: 35px;
}